Django==2.2.4
django-crispy-forms==1.8.0
django-crontab==0.7.1
django-easy-pdf==0.1.1
Pillow==6.2.1
psycopg2==2.8.4
pycparser==2.19
PyPDF2==1.26.0
Pyphen==0.9.5
pytz==2019.3
reportlab==3.5.32
six==1.13.0
sqlparse==0.3.0
sweetify==2.0.0
tinycss2==1.0.2
WeasyPrint==50
webencodings==0.5.1
xhtml2pdf==0.2.3
djangorestframework==3.9.2
django-filter==2.2.0
Markdown==3.1