{% load static %}
{% static "images" as baseUrl %}
<footer class="jumbotron py-1">
		<div class="container">
			<div class="row">
				<!-- Footer Logo -->
				<div class="col-lg-3 col-12 m-auto">
					 <a href="/" class="navbar-brand mr-3"><img src="{% static 'images/icons/logo.png' %}" width="105px" height="70px"></a>
				</div>
				<!-- Footer About -->
				<div class="col-lg-6 col-12 m-auto">
					<p style="">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by CMOS</p>
				</div>


			</div>
		</div>
	</footer>
