
<style>
#hoverbar{
visibility:hidden;
position:absolute;
top:0px;
opacity:0.7;
}

#imagefh:hover + #hoverbar{
	visibility:visible;


}
#hoverbar:hover{
visibility:visible;

}

</style>
{% for list in category %}
<div class="col-sm-12 bg-light border rounded pt-2 " id="{{list.item_food_category}}"><h3 class="font-weight-light text-uppercase">{{list.item_food_category}}</h3></div>
<div class="row  py-3 p-1">
	{% for menu in menus %}
	{% if menu.item_food_category == list.item_food_category %}
	<div class="col-lg-3 col-md-3 col-6 m-0 p-1 justify-content-center ">
		<div class="card">
			<div class="col-12 p-1" id="imagefh"><img class="card-img-top"  style="width:100%;height:150px;" src="{{menu.item_image.url}}" alt="Card image cap"></div>
			<div class="col-12 bg-dark p-1 w-100" id="hoverbar"><h6 class="text-light text-justify">{{menu.item_desc}}</h6></div>
			<div class="card-body p-0">
			<div class="row bg-light w-100 m-0  ">
				<div class="col-1  p-1 m-0" style="height:25px; display:inline;"><img style="width:12px;height:12px;" src="{{menu.item_vegornonveg.image.url}}" alt="Card image cap"></div>
				<div class="col-11  p-1 m-0"><h6 class="text-uppercase font-weight-light" style="display:inline; font-size:14px;">{{menu.item_name}}</h6></div>
			</div>
			<div class="col-12 pl-3 p-0 mb-1"><h6 class="font-weight-lighter" style="display:inline; font-size:14px;"> {{menu.item_food_category}}</h6></div>
			<div class="row w-100 mx-auto bg-warning rounded p-1">
				<div class="col-8 p-0 pl-3 pt-2"><i class="fa fa-rupee text-dark" style="font-size:14px"></i><h6 style="display:inline;"> {{menu.item_price}}</h6></div>
				<div class="col-4 justify-content-md-end p-0">
					<form method="post" action="/menu/restuartant_view/{{shop.pk}}/">{% csrf_token %}
						<input type="hidden" name="menu_item_pk" value="{{menu.pk}}" >
						<button type="submit" class="btn-sm btn-outline-light border rounded px-3">ADD</button>
					</form>
				</div>
			</div>

	 	 </div>
		</div>

	</div>
	{% endif %}
	{% endfor %}
	</div>
{% empty %}
		<p class="mx-auto text-center">Sorry, no selection to display.</p>
{% endfor %}

