{% load static %}
{% static "images" as baseUrl %}
<div><h2 class="text-center">CART</h2></div>
{% if ordertable  %}
{% for order in ordertable %}
<div class="row border w-100 mx-auto bg-light text-dark">
    <div class="col-1 m-0 p-0 py-2 text-center align-middle" >
        <img style="width:10px;height:10px;" src="{{order.menu.item_vegornonveg.image.url}}" alt="Card image cap">
    </div>
    <div class="col-5 my-auto p-0" style="font-size:15px; ">{{order.menu.item_name}}</div>
    <div class="col-3 my-auto p-0 m-0">
        <div class="row  w-75 my-auto m-0 p-0">
            <div class="col-3 border border-right-0 p-0 m-0">
                <form action="/menu/restuartant_view/{{shop.pk}}/" method="post">{% csrf_token%}
                    <input type="hidden"  name="quantity_minus" value="{{order.pk}}">
                    <button type="submit"  class="btn btn-link p-0 "  style="width:20px;height:20px;background:none;">
                        <img src="https://img.icons8.com/android/15/000000/minus.png" class="p-0 m-0">
                    </button>
                </form>
            </div>
            <div class="col-3 m-auto p-0 pl-1">{{order.order_quantity}}</div>
            <div class="col-3 border border-left-0 m-0 p-0" >
                <form action="/menu/restuartant_view/{{shop.pk}}/" method="post">{% csrf_token%}
                    <input type="hidden" name="quantity_plus" value="{{order.pk}}">
                    <button type="submit" class="btn btn-link p-0 " style="width:20px;height:20px;background: none;">
                        <img src="https://img.icons8.com/android/12/000000/plus.png" class="pr-2 m-0">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3 mt-2 p-0" ><i class="fa fa-rupee" style="font-size:12px"></i> {{order.order_price}}</div>
</div>
{% endfor %}

<div class="row mt-3">
    <div class="col-8"><h4>Subtotal</h4></div>
    <div class="col-4 "><h4><i class="fa fa-rupee" style="font-size:14px"></i> {{subtotal}}</h4></div>
</div>
{% else %}
<div class="container border w-50 mx-auto text-center">
    <h6 class="">cart empty</h6>
</div>
{% endif %}


