{% load static %}
{% static "images" as baseUrl %}
{% include 'com.html' %}
{% include 'navbar.html' %}

<div class="container  mt-3 mx-auto p-0">
     {% for orders in orderhistory %}
    <div class="mx-auto bg-light  border mt-2 p-2"><p class="btn btn-primary p-1 text-center text-white font-weight-bold">ODNO{{orders.pk}}</p>
        <form action="/order/html_to_pdf_view/{{orders.pk}}/" class="p-0 float-right" style="display:inline;" method="post">{%csrf_token%}
            <input type="submit" value="Invoice ODNO{{orders.pk}}" class="btn btn-secondary p-1 text-center text-white font-weight-bold">
        </form>
        </div>
    {% for item in orders.order.all %}
            {% for items in ordertracking%}
                {% if items.pk == item.pk %}
                    <div class="col-sm-12  mx-auto p-0">
                        <div class="row  border border-top-0 mx-auto">
                            <div class="col-sm-1 col-3 m-1 p-0">
                                <img src="{{item.menu_image.url}}" class="my-auto p-0" width="100%" height="90px"  alt="image">
                            </div>
                            <div class="col-sm-4 col-8 p-2 text-left ">
                                <h5 class="mt-1 text-uppercase font-weight-bold">{{item.menu_name}}</h5>
                                <h6>seller : {{item.order_vendor}}</h6>
                                <h6>qty : {{item.order_quantity}}</h6>
                            </div>
                            <div class="col-sm-1 col-3 px-sm-2 py-sm-3 ">
                                <h6 ><i class="fa fa-rupee" style="font-size:14px"></i> {{item.order_price}}</h6>
                            </div>
                            <div class="col-sm-3 col-5 px-sm-2 py-sm-3">
                                {% if item.order_status == 'DELIVERED'  %}
                                    <h6>Delivered on {{item.deliverydate}}</h6>
                                    <h6 class="font-weight-light text-secondary" style="font-size:12px;">Your item has been delivered</h6>
                                {%elif item.order_status == 'ORDERED' %}
                                     <h6>Order is in progress.</h6>
                                {%else %}
                                    <h6>Cancelled</h6>
                                    <h6 class="font-weight-light text-secondary" style="font-size:12px;">As per your request, your item has been cancelled</h6>
                                {%endif%}

                            </div>
                            {%if item.order_status == 'ORDERED' %}
                            <div class="col-2 px-sm-2 py-sm-3">
                                <form action="/order/orders/" method="post">{%csrf_token%}
                                    <input type="hidden" name="cancel" value="{{item.pk}}">
                                    <button type="submit" class="btn btn-sm bg-primary text-white">
                                        <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg">

 <title/>
 <g>
  <title>background</title>
  <rect fill="none" id="canvas_background" height="302" width="582" y="-1" x="-1"/>
 </g>
 <g>
  <title>Layer 1</title>
  <circle stroke-width="2px" stroke-linejoin="round" stroke="#ffffff" fill="none" id="svg_1" r="8" cy="11" cx="11" class="cls-1"/>
  <line stroke-width="2px" stroke-linejoin="round" stroke="#ffffff" fill="none" id="svg_2" y2="14" y1="8" x2="14" x1="8" class="cls-1"/>
  <line stroke-width="2px" stroke-linejoin="round" stroke="#ffffff" fill="none" id="svg_3" y2="14" y1="8" x2="8" x1="14" class="cls-1"/>
 </g>
</svg>
                                        Cancel Item</button>
                                </form>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                {% endif%}
            {% endfor%}
        {% endfor %}
    <div class="row  mx-auto">
        <div class="col-sm-6 border border-top-0 border-right-0 py-2 pr-3"><h6><span class="text-secondary">Ordered On</span> {{orders.purchasedate}}</h6></div>
        <div class="col-sm-6 border border-top-0 border-left-0 py-2 pl-3 text-right"><h6><span class="text-secondary">Order Total  </span><i class="fa fa-rupee" style="font-size:14px"></i> {{orders.price}}</h6></div>
    </div>

    {% endfor %}
</div>
